<%- include('./partials/header', {title: 'Home | Family Hub'}) %>

<!-- ================= HERO ================= -->
<section class="pt-20 fade-up">
<img src="/hm-banner3.jpg"
class="w-full h-[260px] md:h-[450px] object-cover">
</section>

<!-- ================= PRODUCTS ================= -->
<section class="py-14">
<div class="max-w-7xl mx-auto px-4">

<h2 class="text-3xl font-bold text-center mb-12 tracking-wide">
OUR PRODUCTS
</h2>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">

 

  <% products.forEach((product) => { %>

<a href="/products/details/<%= product._id %>"
class="bg-white rounded-2xl overflow-hidden shadow hover:shadow-2xl transition hover:-translate-y-2 group">

  <div class="overflow-hidden">
    <img src="<%= product.productsImge %>"
    class="h-44 w-full object-cover group-hover:scale-110 transition duration-500">
  </div>

  <h3 class="text-center py-4 font-semibold">
    <%= product.productname %>
  </h3>

</a>

<% }) %>




</div>
</div>
</section>

<!-- ================= WHY CHOOSE ================= -->
<section class="bg-white py-16">
<div class="max-w-7xl mx-auto px-4">

<h2 class="text-3xl font-bold text-center mb-12">
WHY CHOOSE US
</h2>

<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 text-center">

<div class="p-8 rounded-xl shadow hover:shadow-xl hover:-translate-y-2 transition">
<i class="fa-solid fa-truck-fast text-4xl text-green-600 mb-4"></i>
<h3 class="font-bold">Fast Delivery</h3>
</div>

<div class="p-8 rounded-xl shadow hover:shadow-xl hover:-translate-y-2 transition">
<i class="fa-solid fa-handshake-simple text-4xl text-green-600 mb-4"></i>
<h3 class="font-bold">Trusted Supplier</h3>
</div>

<div class="p-8 rounded-xl shadow hover:shadow-xl hover:-translate-y-2 transition">
<i class="fa-solid fa-thumbs-up text-4xl text-green-600 mb-4"></i>
<h3 class="font-bold">Quality Products</h3>
</div>

<div class="p-8 rounded-xl shadow hover:shadow-xl hover:-translate-y-2 transition">
<i class="fa-solid fa-headset text-4xl text-green-600 mb-4"></i>
<h3 class="font-bold">Customer Support</h3>
</div>

</div>
</div>
</section>

<%- include('./partials/footer') %>
  